@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Pretendard";
}

@font-face {
  font-family: "BeanpoleBold";
  src: url("/fonts/BeanpoleBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  background-color: rgb(246, 246, 246);
}
